@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="https://localhost:44357/img/static/categoria1.png" asp-append-version="true">
    <br />

    <img src="https://localhost:44357/img/static/categoria1.png" asp-append-version="true">
</div>
